.delivery {
   position: relative;
   background: url("../images/background_delivery.jpg") no-repeat center center/100% 563px;

   @include media(max, xxl) {
      min-height: 358px;
      background: url("../images/background_deliveryXXL.jpg") no-repeat center center/100% 358px;
   }

   @include media(max, md) {
      min-height: unset;
      margin-top: 20px;
      padding-bottom: 20px;
      background: linear-gradient(180deg, #FFAB00 -182.82%, #FFCD68 -100.25%, #FFAB00 54.78%, #FFAB00 95.73%);
   }

   &__wrap {
      display: grid;
      grid-auto-flow: column;
      align-items: center;

      @include media(max, xxl) {
         min-height: 294px;
         gap: 30px;
      }

      @include media(max, md) {
         min-height: unset;
         grid-auto-flow: row;
         justify-items: center;
      }
   }

   &__image {
      width: 540px;
      height: 709px;

      @include media(max, xxl) {
         width: 160px;
         height: 210px;
      }

      @include media(max, md) {
         position: absolute;
         top: -106px;
         right: 42px;
         width: 126px;
         height: 165px;
      }
   }

   &__content {
      margin-top: -155px;
      color: var(--white);

      @include media(max, xxl) {
         margin-top: unset;
      }
   }

   &__title {
      display: inline-block;
      margin-bottom: 30px;

      @include media(max, xxl) {
         margin-bottom: 15px;
      }

      br {
         display: none;

         @include media(max, md) {
            display: block;
         }
      }
   }

   &__title-icon {
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         right: -50px;
         transform: translateY(-60%);

         width: 30px;
         height: 30px;

         background: url("../images/icons/helicopter.png") no-repeat center center/100% 100%;

         @include media(max, xxl) {
            width: 18px;
            height: 18px;
            right: -25px;
         }

         @include media(max, md) {
            width: 15px;
            height: 15px;
            right: -20px;
         }

      }
   }

   &__text {
      max-width: 500px;
   }

   &__rectangle {
      position: absolute;

      &--number_1 {
         width: 214px;
         height: 209px;

         bottom: -10px;
         right: 140px;

         @include media(max, xxl) {
           display: none;
         }
      }

      &--number_2 {
         width: 71px;
         height: 71px;

         bottom: 90px;
         right: 536px;

         @include media(max, xxl) {
            display: none;
         }
      }

      &--number_3 {
         width: 80px;
         height: 80px;

         top: 50px;
         right: 311px;

         @include media(max, xxl) {
            width: 32px;
            height: 32px;

            top: 13px;
            right: 144px;
         }

         @include media(max, md) {
            display: none;
         }
      }
   }
}