.download {
   position: relative;
   z-index: 1;
   padding-top: 336px;
   padding-bottom: 18px;

   @include media(max, xxl) {
      padding-top: 45px;
   }

   @include media(max, md) {
      padding-top: 30px;
      padding-bottom: 230px;
   }

   &__wrap {
      display: grid;
      grid-template-columns: minmax(min-content, max-content) fit-content(630px);
      grid-auto-flow: column;
      align-items: center;
      gap: 128px;

      @include media(max, xxl) {
         grid-template-columns: minmax(min-content, max-content) fit-content(345px);
         column-gap: 30px;
      }

      @include media(max, md) {
         grid-template-columns: minmax(min-content, max-content);
      }
   }

   &__picture {

      @include media(max, md) {
         display: none;
      }
   }

   &__image {
      width: 343px;

      @include media(max, xxl) {
         width: 160px;
      }
   }

   &__title {
      display: inline-block;
      position: relative;
      margin-bottom: 25px;

      font-size: 42px;
      line-height: 40px;

      @include media(max, xxl) {
         font: var(--h2);
         margin-bottom: 10px;
      }

      span {
         color: var(--orange);
      }

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         right: -45px;
         transform: translateY(-50%);

         width: 30px;
         height: 30px;

         background: url("../images/icons/rocket.png") no-repeat center center/100% 100%;

         @include media(max, xxl) {
            right: -25px;
            width: 20px;
            height: 20px;
         }

         @include media(max, md) {
            right: -20px;
            width: 15px;
            height: 15px;
         }
      }
   }

   &__text {
      margin-bottom: 73px;
      color: #768C9B;

      @include media(max, xxl) {
         margin-bottom: 10px;
      }
   }

   &__list {
      display: inline-grid;
      grid-auto-flow: column;
      column-gap: 23px;

      @include media(max, xxl) {
         column-gap: 21px;
      }
   }

   &__item {

   }

   &__button {
      display: block;

      &:hover {
         transform: translate(-5px, 5px);

         @include media(max, xxl) {
            transform: translate(-2px, 2px);
         }
      }
   }

   &__button-image {
      width: 215px;

      @include media(max, xxl) {
         width: 117px;
      }
   }

}