.map {
   padding-top: 85px;


   @include media(max, xxl) {
      padding-top: 32px;
   }

   &__wrap {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: 43px;

      @include media(max, xxl) {
         grid-auto-flow: row;
         gap: 4px;
      }
   }

   &__content {

   }

   &__title {
      margin-bottom: 30px;

      @include media(max, xxl) {
         margin-bottom: 15px;
         letter-spacing: -0.5px;
      }

      @include media(max, md) {
         margin-bottom: 10px;
      }
   }

   &__title-color {
      color: var(--orange);
   }

   &__title-еarth {
      display: inline-block;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         right: -40px;
         transform: translateY(-50%);

         width: 31px;
         height: 31px;

         background: url("../images/icons/еarth.png") no-repeat center center/100% 100%;

         @include media(max, xxl) {
            right: -23px;
            transform: translateY(-53%);

            width: 19px;
            height: 19px;
         }

         @include media(max, md) {
            right: -20px;
            transform: translateY(-53%);

            width: 15px;
            height: 15px;
         }
      }
   }

   &__text {
      color: var(--gray);
   }

   &__wrap_images {
      position: relative;
      top: -25px;

      @include media(max, xxl) {
         top: unset;
      }
   }

   &__picture {

      @include media(max, md) {
         display: none;
      }
   }

   &__main-image {
      width: 633px;
      height: 271px;

      @include media(max, xxl) {
         width: 540px;
         height: 231px;
      }

      @include media(max, md) {
         width: 158px;
         height: 68px;
      }
   }

   &__image {
      position: absolute;

      &--number_1 {
         width: 109px;
         height: 65px;

         top: 87px;
         left: 55px;

         @include media(max, xxl) {
            top: 72px;
            left: 48px;

            width: 93px;
            height: 56px;
         }

         @include media(min, md) {
            animation: animationTransform_1 5s linear infinite;
         }
      }

      &--number_2 {
         width: 110px;
         height: 65px;

         top: 125px;
         left: 144px;

         @include media(max, xxl) {
            top: 108px;
            left: 122px;

            width: 93px;
            height: 56px;
         }

         @include media(min, md) {
            animation: animationTransform_2 5s linear infinite;
         }
      }

      &--number_3 {
         width: 132px;
         height: 70px;

         top: 151px;
         left: 266px;

         @include media(max, xxl) {
            top: 129px;
            left: 229px;

            width: 113px;
            height: 60px;
         }

         @include media(min, md) {
            animation: animationTransform_3 10s linear infinite;
         }
      }

      &--number_4 {
         width: 144px;
         height: 79px;

         top: 89px;
         right: 102px;

         @include media(max, xxl) {
            top: 77px;
            right: 88px;

            width: 123px;
            height: 68px;
         }

         @include media(min, md) {
            animation: animationTransform_2 5s linear infinite;
         }
      }
   }
}

@keyframes animationTransform_1 {
   0% {
      transform: translateY(0) scale(1);
   }

   25% {
      transform: translateY(-5px) scale(0.95);
   }

   50% {
      transform: translateY(0) scale(1);
   }

   75% {
      transform: translateY(5px) scale(0.95);
   }

   100% {
      transform: translateY(0) scale(1);
   }
}

@keyframes animationTransform_2 {
   0% {
      transform: translateY(0) scale(1);
   }

   25% {
      transform: translateY(10px) scale(0.95);
   }

   50% {
      transform: translateY(0) scale(1);
   }

   75% {
      transform: translateY(-10px) scale(0.95);
   }

   100% {
      transform: translateY(0) scale(1);
   }
}

@keyframes animationTransform_3 {
   0% {
      transform: translateY(0) scale(1);
   }

   25% {
      transform: translateY(-20px) scale(0.95);
   }

   50% {
      transform: translateY(0) scale(1);
   }

   75% {
      transform: translateY(20px) scale(0.95);
   }

   100% {
      transform: translateY(0) scale(1);
   }
}