.reviews {
   position: relative;
   background: url("../images/background_reviews.jpg") no-repeat top center/100% 546px;
   min-height: 546px;

   @include media(max, xxl) {
      min-height: 420px;
      padding-top: 60px;
      padding-bottom: 60px;
      background: url("../images/background_reviewsXXL.jpg") no-repeat top center/100% 420px;
   }

   @include media(max, md) {
      min-height: unset;
      padding-top: 30px;
      padding-bottom: 40px;
      background: url("../images/background_reviewsMD.jpg") no-repeat top center/cover;
   }

   &__wrap {
      display: grid;
      grid-auto-columns: minmax(min-content, max-content);
      grid-auto-flow: column;
      align-items: center;
      column-gap: 95px;

      @include media(max, xxl) {
         grid-auto-flow: row;
      }
   }

   &__picture {
      @include media(max, xxl) {
         display: none;
      }
   }

   &__image {
      width: 479px;
      height: 551px;
      margin-top: -35px;
   }

   &__content {
      max-width: 442px;
      color: var(--white);

      @include media(max, xxl) {
         max-width: unset;
      }
   }

   &__title {
      position: relative;
      display: inline-block;
      margin-bottom: 20px;

      @include media(max, md) {
         font-size: 16px;
         margin-bottom: 20px;
      }

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         right: -40px;
         transform: translateY(-50%);

         width: 30px;
         height: 30px;

         background: url("../images/icons/star.png") no-repeat center center/100% 100%;

         @include media(max, xxl) {
            right: -35px;
         }

         @include media(max, md) {
            right: -35px;
         }
      }
   }

   &__text {
      margin-bottom: 20px;

      @include media(max, md) {
         margin-bottom: 10px;
      }
   }

   &__list {
      display: inline-grid;
      grid-auto-flow: column;
      column-gap: 7px;
      margin-bottom: 20px;

      @include media(max, md) {
         margin-bottom: 10px;
      }
   }

   &__item {
      width: 17px;
      height: 17px;

      background-color: var(--white);
      border-radius: 100px;
   }

   &__item:nth-of-type(3) {
      width: 82px;
   }

   &__comment {
      font: 16px/1.5 Times New Roman;
      font-style: italic;
      margin-bottom: 10px;

      @include media(max, xxl) {
         font-size: 14px;
      }
   }

   &__name {
      font: 14px/1.5 Roboto, sans-serif;
      font-weight: 700;
      text-align: right;
   }

   &__rectangle {
      position: absolute;

      @include media(max, xxl) {
         display: none;
      }

      &--number_1 {
         width: 71px;
         height: 71px;

         top: -17px;
         left: 520px;
      }

      &--number_2 {
         width: 137px;
         height: 137px;

         right: 173px;
         bottom: -43px;
      }

      &--number_3 {
         width: 106px;
         height: 106px;

         top: 3px;
         right: 165px;
      }
   }
}